<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.light.niepaper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity_splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".activity_Signup" />
        <activity android:name=".profileActivity"
                  android:label="@string/appname"/>
        <activity
            android:name=".makeNote"
            android:label="@string/title_activity_make_note"
            android:parentActivityName=".profileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.light.niepaper.profileActivity" />
        </activity>
        <activity
            android:name=".textPad"
            android:label="@string/title_activity_text_pad"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".makeNote">

        </activity>
    </application>

</manifest>